<launch>

  <!-- have all the old parameters to prevent roslaunch errors -->
  <arg name="manager" />
  <arg name="device_id" />
  <arg name="rgb_frame_id" />
  <arg name="depth_frame_id" />
  <arg name="rgb_camera_info_url" />
  <arg name="depth_camera_info_url" />
  <arg name="depth_registration" default="true" />
  <arg name="color_depth_synchronization" default="false" />
  <arg name="auto_exposure" default="true" />
  <arg name="auto_white_balance" default="true" />
  <arg name="respawn" default="false" />
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth"            default="depth" />

  <!-- deprecation notice -->
  <node name="device_deprecated"
        pkg="rgbd_launch"
        type="hydro-upgrade-notice"
        required="true">
    <param name="name" value="device.launch" />
    <param name="from_pkg" value="openni2_launch" />
    <param name="to_pkg" value="openni2_launch" />
    <param name="from_pkg_path" value="launch/includes/device.launch" />
    <param name="to_pkg_path" value="launch/includes/device.launch.xml" />
  </node>

</launch>
