<launch>
  <node name="rplidarNode" pkg="rplidar_ros2" exec="rplidarNode" output="screen">
    <param name="frequency" value="5.5"/>
    <param name="serial_port" value="/dev/rplidar"/>
    <param name="serial_baudrate" value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate" value="256000"--><!--A3 -->
    <param name="frame_id" value="laser"/>
    <param name="inverted" value="false"/>
    <param name="angle_compensate" value="true"/>
    <param name="scan_mode" value="Standard"/>
    <param name="screened_begin" value="101"/>
    <param name="screened_end" value="259"/>
	<param name="max_distance" value="8.0"/>
  </node>
</launch>

