<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <group>
    <!--<push-ros-namespace namespace="rplidar_ros2"/> with user defined ns-->
    <include file="/home/whi/dev_ws/src/rplidar_ros2/launch/rplidar.launch"/>
  </group>

  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d /home/whi/dev_ws/src/rplidar_ros2/rviz/rplidar.rviz"/>
</launch>

