<launch>
    <param name="use_sim_time" value="false"/>

    <!-- 启动手柄遥控节点 -->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false"/>
    <node name="twist_joy" pkg="ctl" type="twist_joy.py" output="screen" respawn="false">
	<param name="x_speed_scale"  value="1.2" />
	<param name="y_speed_scale"  value="0.6" />
	<param name="w_speed_scale"  value="3.6" />
	<remap from="cmd_vel" to="cmd_vel"/>	
    </node>
</launch>
