<?xml version="1.0"?>
<robot name="astra">
  <link name="camera_link"/>
  <link name="camera_rgb_frame"/>
  <link name="camera_rgb_optical_frame"/>
  <link name="camera_depth_frame"/>
  <link name="camera_depth_optical_frame"/>
  
  <joint name="camera_rgb_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_rgb_frame"/>
    <origin xyz="0 -0.045 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_depth_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
    <origin xyz="0 -0.02 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
    <origin xyz="0 0 0" rpy="1.570896 3.1415926 1.570896"/>
  </joint>

  <joint name="camera_depth_optical_joint" type="fixed">
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="1.570896 3.1415926 1.570896"/>
  </joint>
</robot>