<launch>
  <arg name="map_file" />
  <arg name="map_name" />

  <node name="map_server" pkg="map_server" type="map_server" args="'$(arg map_file)'">
     <!-- Publish the loaded map on a "private" topic -->
     <remap from="map" to="new_map__"/>
  </node>

  <node pkg="world_canvas_server" type="world_canvas_server" name="world_canvas_server" output="screen">
    <param name="start_map_manager" value="true"/>
    <param name="auto_save_map" value="false"/>
     <!-- Read the map to save from our private topic -->
     <remap from="map" to="new_map__"/>
  </node>

  <node pkg="world_canvas_server" type="add_map.py" name="add_map" args="'$(arg map_name)'" required="true"/>
</launch>
